@{
    ViewData["Title"] = "Home Page";
}

<div style="
    text-align: center;
    margin-top: 20vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    padding: 20vh 0;
    color: #fff;">
    <h1 style="font-size: 4rem; font-weight: bold; color: #fff;">Victuz</h1>
    <p style="font-size: 1.25rem; margin-top: 1rem;">
        Welkom bij de community van ICT-studenten uit Zuid-Limburg. Ontdek activiteiten, verbind met anderen en maak deel uit van onze groeiende vereniging.
    </p>
</div>
